.setting-container {
  @extend %f;
  background: var(--primary-gradient);
  color: var(--light-primary-container);
  margin: 1.5rem;
  flex: 1;
  border-radius: var(--main-border-radius);
}
.setting-menu {
  border-radius: var(--main-border-radius);
  width: 15rem;
  padding: 1rem;
  font-size: 0.875rem;
  li {
    padding: 0.125rem 0rem;
  }
  a {
    @extend %transition;
    @extend %fRowC;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: var(--main-border-radius);
    &.active,
    &:hover,
    :focus-visible {
      background: var(--surface);
      color: var(--on-primary-container);
    }
  }
}
.setup-side {
  flex: 1;
  background: var(--element);
  color: var(--on-primary-container);
  padding: 1.5rem;
  border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
}
