.page {
  display: flex;
  flex: 1;
  .page-container {
    @extend %fCol;
    flex: 6;
    .widgets {
      display: flex;
      gap: 1.5rem;
      padding: 1.5rem 1.5rem 0;
    }
  }
  .list-container {
    border-radius: var(--main-border-radius);
    background-color: var(--element);
    box-shadow: var(--main-shadow);
    max-width: 100%;
    margin: 1.5rem;
    padding: 1.5rem;
    overflow: auto;
    flex: 1;
  }
  .list-title {
    @extend %fRowCY;
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }
  a {
    @include aRest;
    &:focus-visible {
      outline-color: inherit;
      outline-width: 0.125rem;
      outline-style: solid;
      border-radius: var(--main-border-radius);
    }
  }
}
