.new-client {
  .client-container {
    @extend %fRowS;
  }
  .avatar-container {
    width: 12rem;
    height: 12rem;
  }
  fieldset {
    border: none;
  }
  .base {
    @extend %fWraper;
    gap: 1.5rem;
    .left {
      max-width: 10rem;
    }
  }
}
